Project2/tdd/TravelGoodBpelModule/src/localhost_8080/LameDuck/AirlineReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.dk.dtu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.webservice.dk.dtu/" name="AirlineReservationService" xmlns:ns0="http://fastmoney.imm.dtu.dk">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/LameDuck/AirlineReservationService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://service.webservice.dk.dtu/" schemaLocation="http://localhost:8080/LameDuck/AirlineReservationService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/LameDuck/AirlineReservationService?xsd=3"/>
</xsd:schema>
</types>
<message name="setTestFlightInformations">
<part name="parameters" element="tns:setTestFlightInformations"/>
</message>
<message name="setTestFlightInformationsResponse">
<part name="parameters" element="tns:setTestFlightInformationsResponse"/>
</message>
<message name="clearFlightInformations">
<part name="parameters" element="tns:clearFlightInformations"/>
</message>
<message name="clearFlightInformationsResponse">
<part name="parameters" element="tns:clearFlightInformationsResponse"/>
</message>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="CreditCardFaultMessageAirline">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<message name="ExceptionAirline">
<part name="fault" element="tns:ExceptionAirline"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<portType name="AirlineReservationService">
<operation name="setTestFlightInformations">
<input wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/setTestFlightInformationsRequest" message="tns:setTestFlightInformations"/>
<output wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/setTestFlightInformationsResponse" message="tns:setTestFlightInformationsResponse"/>
</operation>
<operation name="clearFlightInformations">
<input wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/clearFlightInformationsRequest" message="tns:clearFlightInformations"/>
<output wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/clearFlightInformationsResponse" message="tns:clearFlightInformationsResponse"/>
</operation>
<operation name="getFlights">
<input wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:CreditCardFaultMessageAirline" name="CreditCardFaultMessage" wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/bookFlight/Fault/CreditCardFaultMessage"/>
<fault message="tns:ExceptionAirline" name="ExceptionAirline" wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/bookFlight/Fault/Exception"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:CreditCardFaultMessageAirline" name="CreditCardFaultMessage" wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/cancelFlight/Fault/CreditCardFaultMessage"/>
<fault message="tns:ExceptionAirline" name="ExceptionAirline" wsam:Action="http://service.webservice.dk.dtu/AirlineReservationService/cancelFlight/Fault/Exception"/>
</operation>
</portType>
<binding name="AirlineReservationServicePortBinding" type="tns:AirlineReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setTestFlightInformations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearFlightInformations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
<fault name="ExceptionAirline">
<soap:fault name="ExceptionAirline" use="literal"/>
</fault>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
<fault name="ExceptionAirline">
<soap:fault name="ExceptionAirline" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineReservationService">
<port name="AirlineReservationServicePort" binding="tns:AirlineReservationServicePortBinding">
<soap:address location="http://localhost:8080/LameDuck/AirlineReservationService"/>
</port>
</service>
</definitions>