Exercises/WS_Exercises-master/CalculatorClient/src/META-INF/wsdl/CalculatorServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.ws/" name="CalculatorServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.ws/" schemaLocation="http://localhost:8080/CalculatorService/CalculatorServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="ArithmeticException">
<part name="fault" element="tns:ArithmeticException"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<portType name="CalculatorService">
<operation name="add">
<input message="tns:add"/>
<output message="tns:addResponse"/>
</operation>
<operation name="divide">
<input message="tns:divide"/>
<output message="tns:divideResponse"/>
<fault message="tns:ArithmeticException" name="ArithmeticException"/>
</operation>
<operation name="multiply">
<input message="tns:multiply"/>
<output message="tns:multiplyResponse"/>
</operation>
<operation name="subtract">
<input message="tns:subtract"/>
<output message="tns:subtractResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArithmeticException">
<soap:fault name="ArithmeticException" use="literal"/>
</fault>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorServiceService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8070/CalculatorService/CalculatorServiceService"/>
</port>
</service>
</definitions>