Project2/ProjectTest/src/META-INF/HotelReservationService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dtu.dk/" name="HotelReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dtu.dk/" schemaLocation="http://joshua:8080/NiceView/HotelReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<portType name="HotelReservation">
<operation name="cancelHotel">
<input wsam:Action="http://ws.dtu.dk/HotelReservation/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://ws.dtu.dk/HotelReservation/cancelHotelResponse" message="tns:cancelHotelResponse"/>
</operation>
<operation name="getHotels">
<input wsam:Action="http://ws.dtu.dk/HotelReservation/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://ws.dtu.dk/HotelReservation/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://ws.dtu.dk/HotelReservation/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://ws.dtu.dk/HotelReservation/bookHotelResponse" message="tns:bookHotelResponse"/>
</operation>
</portType>
<binding name="HotelReservationPortBinding" type="tns:HotelReservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelReservationService">
<port name="HotelReservationPort" binding="tns:HotelReservationPortBinding">
<soap:address location="http://joshua:8080/NiceView/HotelReservationService"/>
</port>
</service>
</definitions>