Exercises/Kasper/exercise_03/CalendarWebservice/src/conf/xml-resources/web-services/calendarServiceFromWSDL/wsdl/calendarServiceWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="calendarServiceWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/CalendarWebservice/java/calendarServiceWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/CalendarWebservice/java/calendarWebServiceWSDL" xmlns:ns="http://j2ee.netbeans.org/wsdl/CalendarWebservice/java/calendarServiceWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types/>
    <message name="addAppointmentRequest">
        <part name="appointment" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getAppointmentRequest">
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getAppointmentResponse">
        <part name="appointment" type="xsd:string"/>
    </message>
    <portType name="calendarServicePortType">
        <operation name="addAppointment">
            <input name="input1" message="ns:addAppointmentRequest"/>
        </operation>
        <operation name="getAppointment">
            <input name="input2" message="ns:getAppointmentRequest"/>
            <output name="output1" message="ns:getAppointmentResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="calendarServiceWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="calendarServicePortTypeRole" portType="ns:calendarServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
