Exercises/WS_Exercises-master/HamAndEggs/src/localhost_8080/CookApp/CookServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://cook.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cook.ws/">

<xs:element name="bake" type="tns:bake"></xs:element>

<xs:element name="bakeResponse" type="tns:bakeResponse"></xs:element>

<xs:element name="breakEgg" type="tns:breakEgg"></xs:element>

<xs:element name="breakEggResponse" type="tns:breakEggResponse"></xs:element>

<xs:complexType name="breakEgg">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakEggResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bake">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bakeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>