Project2/tdd/TravelAgencyApp/src/jbiasa/TravelAgencyApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="TravelAgencyApp"
             xmlns:tns="TravelAgencyApp" xmlns:ns="http://service.webservice.dk.dtu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/TravelAgencyBPEL/src/TravelAgencyWSDL">
    <import namespace="http://service.webservice.dk.dtu/" location="../jbiServiceUnits/TravelAgencyBPEL/AirlineReservationService.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/TravelAgencyBPEL/src/TravelAgencyWSDL" location="../jbiServiceUnits/TravelAgencyBPEL/TravelAgencyWSDL.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns1:TravelAgencyWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns:AirlineReservationService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelFlight">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CreditCardFaultMessage">
                <soap:fault name="CreditCardFaultMessage" use="literal"/>
            </fault>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="setTestFlightInformations">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="clearFlightInformations">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFlights">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CreditCardFaultMessage">
                <soap:fault name="CreditCardFaultMessage" use="literal"/>
            </fault>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="TravelAgencyAppService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelAgencyAppService1/casaPort1"/>
        </port>
    </service>
    <service name="TravelAgencyAppService2">
        <port name="casaPort2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelAgencyAppService2/casaPort2"/>
        </port>
    </service>
</definitions>
