Exercises/Exercise3/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/Calandar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Calandar" targetNamespace="http://j2ee.netbeans.org/wsdl/Exercises3/java/Calandar"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Exercises3/java/Calandar" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="addAppointmentRequest">
        <part name="part1" type="xsd:date"/>
        <part name="part2" type="xsd:string"/>
    </message>
    <message name="CalandarOperationRequest">
        <part name="part1" type="xsd:date"/>
    </message>
    <message name="CalandarOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="CalandarOperationRequest1">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="calendarServicePortType">
        <operation name="addAppointment">
            <input name="input1" message="tns:addAppointmentRequest"/>
        </operation>
        <operation name="getAppointment">
            <input name="input2" message="tns:CalandarOperationRequest"/>
            <output name="output1" message="tns:CalandarOperationResponse"/>
        </operation>
        <operation name="reset">
            <input name="input3" message="tns:CalandarOperationRequest1"/>
        </operation>
    </portType>
    <binding name="calendarServicePortTypeBinding" type="tns:calendarServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addAppointment">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="getAppointment">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reset">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CalandarService">
        <port name="calendarPort" binding="tns:calendarServicePortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="Calandar">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="calendarServicePortTypeRole" portType="tns:calendarServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
