Exercises/WS_Exercises-master/HamAndEggsApp/src/jbiServiceUnits/HamAndEggs/localhost_8080/CleanerApp/CleanerServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://cleaner.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cleaner.ws/">

<xs:element name="ventilateAir" type="tns:ventilateAir"></xs:element>

<xs:element name="washDishes" type="tns:washDishes"></xs:element>

<xs:element name="washDishesResponse" type="tns:washDishesResponse"></xs:element>

<xs:complexType name="ventilateAir">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="washDishes">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="washDishesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>