Exercises/Jacob/Exercise01/CalculatorTest/src/META-INF/wsdl/Jacobs-MacBook-Pro.local_8080/WebServices_Exc01/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CalcPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CalcPackage/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://CalcPackage/" schemaLocation="http://Jacobs-MacBook-Pro.local:8080/WebServices_Exc01/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="divide2">
<part name="parameters" element="tns:divide2"/>
</message>
<message name="divide2Response">
<part name="parameters" element="tns:divide2Response"/>
</message>
<message name="DivideByZeroException">
<part name="fault" element="tns:DivideByZeroException"/>
</message>
<portType name="CalculatorService">
<operation name="add">
<input wsam:Action="http://CalcPackage/CalculatorService/addRequest" message="tns:add"/>
<output wsam:Action="http://CalcPackage/CalculatorService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://CalcPackage/CalculatorService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://CalcPackage/CalculatorService/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://CalcPackage/CalculatorService/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://CalcPackage/CalculatorService/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://CalcPackage/CalculatorService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://CalcPackage/CalculatorService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://CalcPackage/CalculatorService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://CalcPackage/CalculatorService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="divide2">
<input wsam:Action="http://CalcPackage/CalculatorService/divide2Request" message="tns:divide2"/>
<output wsam:Action="http://CalcPackage/CalculatorService/divide2Response" message="tns:divide2Response"/>
<fault message="tns:DivideByZeroException" name="DivideByZeroException" wsam:Action="http://CalcPackage/CalculatorService/divide2/Fault/DivideByZeroException"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DivideByZeroException">
<soap:fault name="DivideByZeroException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://Jacobs-MacBook-Pro.local:8080/WebServices_Exc01/CalculatorService"/>
</port>
</service>
</definitions>