Exercises/WS_Exercises-master/HelloWorldClient/xml-resources/web-service-references/HelloWorldServiceService/wsdl/localhost_8080/HelloWorldService/HelloWorldServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://helloworld.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://helloworld.ws/">

<xs:element name="helloWorld" type="tns:helloWorld"></xs:element>

<xs:element name="helloWorldResponse" type="tns:helloWorldResponse"></xs:element>

<xs:complexType name="helloWorld">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloWorldResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>