Project2/tdd/TravelGoodTestSuite/xml-resources/web-service-references/HotelReservationService/wsdl/localhost_8080/NiceView/HotelReservationService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.webservice.dk.dtu/" xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.webservice.dk.dtu/">

<xs:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/NiceView/HotelReservationService?xsd=1"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="bookHotel" type="tns:bookHotel"/>

<xs:element name="bookHotelResponse" type="tns:bookHotelResponse"/>

<xs:element name="cancelHotel" type="tns:cancelHotel"/>

<xs:element name="cancelHotelResponse" type="tns:cancelHotelResponse"/>

<xs:element name="clearHotelInformations" type="tns:clearHotelInformations"/>

<xs:element name="clearHotelInformationsResponse" type="tns:clearHotelInformationsResponse"/>

<xs:element name="getBookedHotelInformations" type="tns:getBookedHotelInformations"/>

<xs:element name="getBookedHotelInformationsResponse" type="tns:getBookedHotelInformationsResponse"/>

<xs:element name="getHotels" type="tns:getHotels"/>

<xs:element name="getHotelsResponse" type="tns:getHotelsResponse"/>

<xs:element name="setTestHotelInformations" type="tns:setTestHotelInformations"/>

<xs:element name="setTestHotelInformationsResponse" type="tns:setTestHotelInformationsResponse"/>

<xs:complexType name="cancelHotel">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotelResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clearHotelInformations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="clearHotelInformationsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHotels">
<xs:sequence>
<xs:element name="cityName" type="xs:string" minOccurs="0"/>
<xs:element name="arrivalDate" type="xs:string" minOccurs="0"/>
<xs:element name="departureDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:hotelInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelInformation">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="hotel" type="tns:hotel" minOccurs="0"/>
<xs:element name="isCreditCardGuaranteeRequired" type="xs:boolean"/>
<xs:element name="nameOfHotelReservationService" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="hotelName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookHotel">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="isCreditCardGuaranteeRequired" type="xs:boolean"/>
<xs:element name="creditCardInfo" type="ns1:creditCardInfoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookHotelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setTestHotelInformations">
<xs:sequence>
<xs:element name="hotelInfo" type="tns:hotelInformation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setTestHotelInformationsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookedHotelInformations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookedHotelInformationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:hotelInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>