Project2/tdd/TravelGoodTestSuite/xml-resources/web-service-references/HotelReservationService/wsdl/localhost_8080/NiceView/HotelReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.dk.dtu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.webservice.dk.dtu/" name="HotelReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/NiceView/HotelReservationService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://service.webservice.dk.dtu/" schemaLocation="http://localhost:8080/NiceView/HotelReservationService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/NiceView/HotelReservationService?xsd=3"/>
</xsd:schema>
</types>
<message name="getBookedHotelInformations">
<part name="parameters" element="tns:getBookedHotelInformations"/>
</message>
<message name="getBookedHotelInformationsResponse">
<part name="parameters" element="tns:getBookedHotelInformationsResponse"/>
</message>
<message name="setTestHotelInformations">
<part name="parameters" element="tns:setTestHotelInformations"/>
</message>
<message name="setTestHotelInformationsResponse">
<part name="parameters" element="tns:setTestHotelInformationsResponse"/>
</message>
<message name="clearHotelInformations">
<part name="parameters" element="tns:clearHotelInformations"/>
</message>
<message name="clearHotelInformationsResponse">
<part name="parameters" element="tns:clearHotelInformationsResponse"/>
</message>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<portType name="HotelReservationService">
<operation name="getBookedHotelInformations">
<input wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/getBookedHotelInformationsRequest" message="tns:getBookedHotelInformations"/>
<output wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/getBookedHotelInformationsResponse" message="tns:getBookedHotelInformationsResponse"/>
</operation>
<operation name="setTestHotelInformations">
<input wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/setTestHotelInformationsRequest" message="tns:setTestHotelInformations"/>
<output wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/setTestHotelInformationsResponse" message="tns:setTestHotelInformationsResponse"/>
</operation>
<operation name="clearHotelInformations">
<input wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/clearHotelInformationsRequest" message="tns:clearHotelInformations"/>
<output wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/clearHotelInformationsResponse" message="tns:clearHotelInformationsResponse"/>
</operation>
<operation name="getHotels">
<input wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/cancelHotel/Fault/Exception"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/bookHotel/Fault/CreditCardFaultMessage"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.webservice.dk.dtu/HotelReservationService/bookHotel/Fault/Exception"/>
</operation>
</portType>
<binding name="HotelReservationServicePortBinding" type="tns:HotelReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBookedHotelInformations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTestHotelInformations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearHotelInformations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="HotelReservationService">
<port name="HotelReservationServicePort" binding="tns:HotelReservationServicePortBinding">
<soap:address location="http://localhost:8080/NiceView/HotelReservationService"/>
</port>
</service>
</definitions>