Exercises/WS_Exercises-master/CookAppClient/xml-resources/web-service-references/CookServiceService/wsdl/localhost_8080/CookApp/CookServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cook.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cook.ws/" name="CookServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://cook.ws/" schemaLocation="http://localhost:8080/CookApp/CookServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="breakEgg">
<part name="parameters" element="tns:breakEgg"></part>
</message>
<message name="breakEggResponse">
<part name="parameters" element="tns:breakEggResponse"></part>
</message>
<message name="EggSmellsBadFault">
<part name="fault" element="tns:eggSmellsBadFault"></part>
</message>
<message name="bake">
<part name="parameters" element="tns:bake"></part>
</message>
<message name="bakeResponse">
<part name="parameters" element="tns:bakeResponse"></part>
</message>
<portType name="CookService">
<operation name="breakEgg">
<input message="tns:breakEgg"></input>
<output message="tns:breakEggResponse"></output>
<fault message="tns:EggSmellsBadFault" name="EggSmellsBadFault"></fault>
</operation>
<operation name="bake">
<input message="tns:bake"></input>
<output message="tns:bakeResponse"></output>
</operation>
</portType>
<binding name="CookServicePortBinding" type="tns:CookService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="breakEgg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="EggSmellsBadFault">
<soap:fault name="EggSmellsBadFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="bake">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CookServiceService">
<port name="CookServicePort" binding="tns:CookServicePortBinding">
<soap:address location="http://localhost:8080/CookApp/CookServiceService"></soap:address>
</port>
</service>
</definitions>