Exercises/Exercise7/OrderProcessCompensation/src/bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="bank" targetNamespace="http://bank.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bank.ws" xmlns:ns="urn:orderData" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://bank.ws">
            <xsd:import namespace="urn:orderData" schemaLocation="orderData.xsd"/>
        </xsd:schema>
    </types>
    <message name="debitCreditCardRequest">
        <part name="customer" type="ns:customerType"/>
        <part name="creditcard" type="ns:creditcardType"/>
        <part name="amount" type="xsd:double"/>
    </message>
    <message name="debitCreditCardResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="refundCreditCardRequest">
        <part name="customer" type="ns:customerType"/>
        <part name="creditcard" type="ns:creditcardNumberType"/>
        <part name="amount" type="xsd:double"/>
    </message>
    <message name="refundCreditCardResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <portType name="bankPortType">
        <operation name="debitCreditCard">
            <input name="input1" message="tns:debitCreditCardRequest"/>
            <output name="output1" message="tns:debitCreditCardResponse"/>
        </operation>
        <operation name="refundCreditCard">
            <input name="input2" message="tns:refundCreditCardRequest"/>
            <output name="output2" message="tns:refundCreditCardResponse"/>
        </operation>
    </portType>
    <binding name="bankPortTypeBinding" type="tns:bankPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="debitCreditCard">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://bank.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://bank.ws"/>
            </output>
        </operation>
        <operation name="refundCreditCard">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://bank.ws"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://bank.ws"/>
            </output>
        </operation>
    </binding>
    <service name="bankService">
        <port name="bankPortTypeBindingPort" binding="tns:bankPortTypeBinding">
            <soap:address location="http://localhost:8080/Bank/bankService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="bank">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="bankPortTypeRole" portType="tns:bankPortType"/>
    </plnk:partnerLinkType>
</definitions>





