Project2/tdd/TravelAgencyBPEL/src/TravelAgencyWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelAgencyWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelAgencyBPEL/src/TravelAgencyWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelAgencyBPEL/src/TravelAgencyWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelAgencyBPEL/src/TravelAgencyWSDL" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelAgencyBPEL/src/TravelAgencyWSDL">
            <xsd:complexType name="flightInformation">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:int"/>
                    <xsd:element name="flight" type="tns:flight" minOccurs="0"/>
                    <xsd:element name="nameOfAirlineReservationService" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="price" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="carrierOperationTheFlight" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="dateAndTimefForLanding" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="dateAndTimefForLiftOff" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="endAirport" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="startAirport" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFlights">
                <xsd:sequence>
                    <xsd:element name="startDestination" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="endDestination" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFlightsResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="tns:flightInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="getFlights" type="tns:getFlights"/>
            <xsd:element name="getFlightsResponse" type="tns:getFlightsResponse"/>
        </xsd:schema>

    
    </types>
    <message name="TravelAgencyWSDLOperationRequestgetFlights">
        <part name="parameters" element="tns:getFlights"/>
    </message>
    <message name="TravelAgencyWSDLOperationResponse">
        <part name="parameters" element="tns:getFlightsResponse"/>
    </message>
    <portType name="TravelAgencyWSDLPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:TravelAgencyWSDLOperationRequestgetFlights"/>
            <output name="output1" message="tns:TravelAgencyWSDLOperationResponse"/>
        </operation>
    </portType>
    <binding name="TravelAgencyWSDLPortTypeBinding" type="tns:TravelAgencyWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TravelAgencyWSDLService">
        <port name="TravelAgencyWSDLPortTypeBindingPort" binding="tns:TravelAgencyWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelAgencyWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelAgencyWSDLPortTypeRole" portType="tns:TravelAgencyWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
