Exercises/Exercise1Test/xml-resources/web-service-references/CalculatorService/wsdl/joshua_8080/Exercise1/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dtu.dk/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dtu.dk/" schemaLocation="http://joshua:8080/Exercise1/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="plus">
<part name="parameters" element="tns:plus"/>
</message>
<message name="plusResponse">
<part name="parameters" element="tns:plusResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="minus">
<part name="parameters" element="tns:minus"/>
</message>
<message name="minusResponse">
<part name="parameters" element="tns:minusResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<portType name="Calculator">
<operation name="plus">
<input wsam:Action="http://ws.dtu.dk/Calculator/plusRequest" message="tns:plus"/>
<output wsam:Action="http://ws.dtu.dk/Calculator/plusResponse" message="tns:plusResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://ws.dtu.dk/Calculator/multRequest" message="tns:mult"/>
<output wsam:Action="http://ws.dtu.dk/Calculator/multResponse" message="tns:multResponse"/>
</operation>
<operation name="minus">
<input wsam:Action="http://ws.dtu.dk/Calculator/minusRequest" message="tns:minus"/>
<output wsam:Action="http://ws.dtu.dk/Calculator/minusResponse" message="tns:minusResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://ws.dtu.dk/Calculator/divRequest" message="tns:div"/>
<output wsam:Action="http://ws.dtu.dk/Calculator/divResponse" message="tns:divResponse"/>
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="plus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="minus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://joshua:8080/Exercise1/CalculatorService"/>
</port>
</service>
</definitions>