Project2/tdd/TravelGoodBpelModule/src/TravelGoodWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodWSDL" targetNamespace="http://service.webservice.dk.dtu/wsdl/TravelGoodBpelModule/src/TravelGoodWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.webservice.dk.dtu/wsdl/TravelGoodBpelModule/src/TravelGoodWSDL" xmlns:ns="http://service.webservice.dk.dtu/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://service.webservice.dk.dtu/wsdl/TravelGoodBpelModule/src/TravelGoodWSDL" xmlns:tns="http://service.webservice.dk.dtu/wsdl/TravelGoodBpelModule/src/TravelGoodWSDL" xmlns:ns="http://service.webservice.dk.dtu/" xmlns:ns3="http://webservice.ws.dtu.dk/schema/TravelGoodSchema">
            <xsd:include schemaLocation="TravelGoodSchema.xsd"/>
            <!--<xsd:import namespace="http://service.webservice.dk.dtu/wsdl/TravelGoodBpelModule/src/TravelGoodWSDL" schemaLocation="TravelGoodSchema.xsd"/>-->
        </xsd:schema>
    </types>
    <message name="TravelGoodWSDLOperationRequestGetFlights">
        <part name="part1" element="ns:getFlights"/>
    </message>
    <message name="TravelGoodWSDLOperationResponsegetFlights">
        <part name="part1" element="ns:getFlightsResponse"/>
    </message>
    <message name="TravelGoodWSDLOperationRequestCreateItinerary">
        <part name="part1" element="tns:createItineraryRequest"/>
    </message>
    <message name="TravelGoodWSDLOperationResponseCreateItinerary">
        <part name="part1" element="tns:createItineraryResponse"/>
    </message>
    <portType name="TravelGoodWSDLPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:TravelGoodWSDLOperationRequestGetFlights"/>
            <output name="output1" message="tns:TravelGoodWSDLOperationResponsegetFlights"/>
        </operation>
        <operation name="createItinerary">
            <input name="input2" message="tns:TravelGoodWSDLOperationRequestCreateItinerary"/>
            <output name="output2" message="tns:TravelGoodWSDLOperationResponseCreateItinerary"/>
        </operation>
    </portType>
    <binding name="TravelGoodWSDLPortTypeBinding" type="tns:TravelGoodWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodWSDLService">
        <port name="TravelGoodWSDLPortTypeBindingPort" binding="tns:TravelGoodWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGoodWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodWSDLPortTypeRole" portType="tns:TravelGoodWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
