Exercises/Kasper/exercise_03/calendarServiceClient/src/META-INF/wsdl/localhost_8080/CalendarWebservice/calendarServiceService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/CalendarWebservice/java/calendarWebServiceWSDL" xmlns:ns="http://j2ee.netbeans.org/wsdl/CalendarWebservice/java/calendarServiceWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="calendarServiceWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/CalendarWebservice/java/calendarServiceWSDL">
    <types/>
    <message name="addAppointmentRequest">
        <part name="appointment" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getAppointmentRequest">
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getAppointmentResponse">
        <part name="appointment" type="xsd:string"/>
    </message>
    <portType name="calendarServicePortType">
        <operation name="addAppointment">
            <input name="input1" message="ns:addAppointmentRequest"/>
        </operation>
        <operation name="getAppointment">
            <input name="input2" message="ns:getAppointmentRequest"/>
            <output name="output1" message="ns:getAppointmentResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="calendarServiceWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="calendarServicePortTypeRole" portType="ns:calendarServicePortType"/>
    </plnk:partnerLinkType>
</definitions>