Project2/NiceView/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/niceViewWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="niceViewWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/NiceView/java/niceViewWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.dtu.dk/NiceView" xmlns:ns="http://j2ee.netbeans.org/wsdl/NiceView/java/niceViewWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://fastmoney.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <import location="http://fastmoney.imm.dtu.dk:8080/BankService?wsdl=1" namespace="http://fastmoney.imm.dtu.dk"/>
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/NiceView/java/niceViewWSDL" xmlns:tns1="http://j2ee.netbeans.org/wsdl/NiceView/java/niceViewWSDL">
            <xsd:complexType name="cityType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="dateTimeType">
                <xsd:sequence>
                    <xsd:element name="dateTime" type="xsd:dateTime"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="city" type="tns1:cityType"></xsd:element>
            <xsd:element name="arrivalDate" type="tns1:dateTimeType"></xsd:element>
            <xsd:element name="departureDate" type="tns1:dateTimeType"></xsd:element>
            <xsd:complexType name="hotelRequestType">
                <xsd:sequence>
                    <xsd:element ref="tns1:city"/>
                    <xsd:element ref="tns1:arrivalDate"/>
                    <xsd:element ref="tns1:departureDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element ref="tns1:address"/>
                    <xsd:element ref="tns1:creditCardReq"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="address" type="xsd:string"></xsd:element>
                    <xsd:element ref="tns1:city"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="address" type="tns1:addressType"></xsd:element>
            <xsd:complexType name="priceType">
                <xsd:sequence>
                    <xsd:element name="price" type="xsd:double"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bookingNumberType">
                <xsd:sequence>
                    <xsd:element name="bookingNr" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookingNr" type="tns1:bookingNumberType"></xsd:element>
            <xsd:element name="hotel" type="tns1:hotelRequestType"></xsd:element>
            <xsd:element name="price" type="tns1:priceType"></xsd:element>
            <xsd:complexType name="hotelReservationServiceType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelReservationService" type="tns1:hotelReservationServiceType"></xsd:element>
            <xsd:complexType name="creditCardReqType">
                <xsd:sequence>
                    <xsd:element name="isCreditCardReq" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="creditCardReq" type="tns1:creditCardReqType"></xsd:element>
            <xsd:complexType name="hotelVacancyType">
                <xsd:sequence>
                    <xsd:element ref="tns1:hotel"/>
                    <xsd:element ref="tns1:bookingNr"/>
                    <xsd:element ref="tns1:price"/>
                    <xsd:element ref="tns1:hotelReservationService"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelVacancy" type="tns1:hotelVacancyType"></xsd:element>
            <xsd:complexType name="hotelVacancies">
                <xsd:sequence>
                    <xsd:element ref="tns1:hotelVacancy" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelVacancieList" type="tns1:hotelVacancies"></xsd:element>
            <xsd:element name="hotelRequest" type="tns1:hotelRequestType"></xsd:element>
        </xsd:schema>
    </types>
    <message name="niceViewWSDLOperationRequest">
        <part name="part1" element="ns:hotelRequest"/>
    </message>
    <message name="niceViewWSDLOperationResponse">
        <part name="part1" element="ns:hotelVacancieList"/>
    </message>
    <portType name="NiceViewPortal">
        <operation name="getHotels">
            <input name="input1" message="ns:niceViewWSDLOperationRequest"/>
            <output name="output1" message="ns:niceViewWSDLOperationResponse"/>
        </operation>
    </portType>
    <binding name="NiceViewPortalBinding" type="ns:NiceViewPortal">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="niceViewWSDLService">
        <port name="NiceViewPortalBindingPort" binding="ns:NiceViewPortalBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="niceViewWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NiceViewPortalRole" portType="ns:NiceViewPortal"/>
    </plnk:partnerLinkType>
</definitions>
