Exercises/Exercise7/OrderProcessCompensationTest/src/META-INF/wsdl/huba_9080/CorrelationSetOrderExampleApplication-sun-http-binding/CorrelationSetOrderExample/orderData.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:orderData" elementFormDefault="qualified" targetNamespace="urn:orderData">
    <xsd:element name="customer" type="tns:customerType"/>
    <xsd:complexType name="customerType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="id" type="tns:customerIDType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="order" type="tns:orderType"/>
    <xsd:complexType name="orderType">
        <xsd:sequence>
            <xsd:element name="id" type="tns:orderIDType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="creditcard" type="tns:creditcardType"/>
    <xsd:complexType name="creditcardType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="number" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="orderIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="customerIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="creditcardNumberType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>