Project2/tdd/TravelGood2BpelModule/src/HotelReservationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://service.hotel.webservice.dtu.dk/" name="HotelReservationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.hotel.webservice.dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.hotel.webservice.dtu.dk/" schemaLocation="HotelReservationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="cancelHotel">
    <part name="parameters" element="tns:cancelHotel"/>
  </message>
  <message name="cancelHotelResponse">
    <part name="parameters" element="tns:cancelHotelResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="getBookedHotelInformations">
    <part name="parameters" element="tns:getBookedHotelInformations"/>
  </message>
  <message name="getBookedHotelInformationsResponse">
    <part name="parameters" element="tns:getBookedHotelInformationsResponse"/>
  </message>
  <message name="getHotels">
    <part name="parameters" element="tns:getHotels"/>
  </message>
  <message name="getHotelsResponse">
    <part name="parameters" element="tns:getHotelsResponse"/>
  </message>
  <message name="bookHotel">
    <part name="parameters" element="tns:bookHotel"/>
  </message>
  <message name="bookHotelResponse">
    <part name="parameters" element="tns:bookHotelResponse"/>
  </message>
  <message name="CreditCardFaultMessage">
    <part name="fault" element="tns:CreditCardFaultMessage"/>
  </message>
  <message name="clearHotelInformations">
    <part name="parameters" element="tns:clearHotelInformations"/>
  </message>
  <message name="clearHotelInformationsResponse">
    <part name="parameters" element="tns:clearHotelInformationsResponse"/>
  </message>
  <message name="setTestHotelInformations">
    <part name="parameters" element="tns:setTestHotelInformations"/>
  </message>
  <message name="setTestHotelInformationsResponse">
    <part name="parameters" element="tns:setTestHotelInformationsResponse"/>
  </message>
  <portType name="HotelReservationService">
    <operation name="cancelHotel">
      <input wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/cancelHotelRequest" message="tns:cancelHotel"/>
      <output wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/cancelHotelResponse" message="tns:cancelHotelResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/cancelHotel/Fault/Exception"/>
    </operation>
    <operation name="getBookedHotelInformations">
      <input wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/getBookedHotelInformationsRequest" message="tns:getBookedHotelInformations"/>
      <output wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/getBookedHotelInformationsResponse" message="tns:getBookedHotelInformationsResponse"/>
    </operation>
    <operation name="getHotels">
      <input wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/getHotelsRequest" message="tns:getHotels"/>
      <output wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/getHotelsResponse" message="tns:getHotelsResponse"/>
    </operation>
    <operation name="bookHotel">
      <input wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/bookHotelRequest" message="tns:bookHotel"/>
      <output wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/bookHotelResponse" message="tns:bookHotelResponse"/>
      <fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/bookHotel/Fault/CreditCardFaultMessage"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/bookHotel/Fault/Exception"/>
    </operation>
    <operation name="clearHotelInformations">
      <input wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/clearHotelInformationsRequest" message="tns:clearHotelInformations"/>
      <output wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/clearHotelInformationsResponse" message="tns:clearHotelInformationsResponse"/>
    </operation>
    <operation name="setTestHotelInformations">
      <input wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/setTestHotelInformationsRequest" message="tns:setTestHotelInformations"/>
      <output wsam:Action="http://service.hotel.webservice.dtu.dk/HotelReservationService/setTestHotelInformationsResponse" message="tns:setTestHotelInformationsResponse"/>
    </operation>
  </portType>
  <binding name="HotelReservationServicePortBinding" type="tns:HotelReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="cancelHotel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getBookedHotelInformations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </output>
    </operation>
    <operation name="getHotels">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </output>
    </operation>
    <operation name="bookHotel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </output>
      <fault name="CreditCardFaultMessage">
        <soap:fault name="CreditCardFaultMessage" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="clearHotelInformations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </output>
    </operation>
    <operation name="setTestHotelInformations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.hotel.webservice.dtu.dk/"/>
      </output>
    </operation>
  </binding>
  <service name="HotelReservationService">
    <port name="HotelReservationServicePort" binding="tns:HotelReservationServicePortBinding">
      <soap:address location="http://localhost:8080/NiceView/HotelReservationService?wsdl"/>
    </port>
  </service>
</definitions>

