Project2/tdd/TravelGood2BpelModule/src/TravelGoodWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodWSDL" targetNamespace="http://service.bpel.travelagency.webservice.dtu.dk/wsdl/TravelGood2BpelModule/src/TravelGoodWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.bpel.travelagency.webservice.dtu.dk/wsdl/TravelGood2BpelModule/src/TravelGoodWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns="http://service.airline.webservice.dtu.dk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://service.bpel.travelagency.webservice.dtu.dk/wsdl/TravelGood2BpelModule/src/TravelGoodWSDL" xmlns:tns="http://service.bpel.travelagency.webservice.dtu.dk/wsdl/TravelGood2BpelModule/src/TravelGoodWSDL" xmlns:ns0="http://service.airline.webservice.dtu.dk/" xmlns:ns1="http://service.hotel.webservice.dtu.dk/">
            <xsd:import schemaLocation="AirlineReservationService_schema1.xsd" namespace="http://service.airline.webservice.dtu.dk/"/>
            <xsd:import schemaLocation="HotelReservationService_schema1.xsd" namespace="http://service.hotel.webservice.dtu.dk/"/>
            <xsd:complexType name="itineraryContainerType">
                <xsd:sequence>
                    <xsd:element name="flightInformationContainer" type="ns0:flightInformation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    <xsd:element name="hotelInformationContainer" type="ns1:hotelInformation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="TravelGoodWSDLOperationRequestGetFlights">
        <part name="part1" element="ns:getFlights"/>
    </message>
    <message name="TravelGoodWSDLOperationResponseGetFlights">
        <part name="part1" element="ns:getFlightsResponse"/>
    </message>
    <portType name="TravelGoodWSDLPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:TravelGoodWSDLOperationRequestGetFlights"/>
            <output name="output1" message="tns:TravelGoodWSDLOperationResponseGetFlights"/>
        </operation>
    </portType>
    <binding name="TravelGoodWSDLPortTypeBinding" type="tns:TravelGoodWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodWSDLService">
        <port name="TravelGoodWSDLPortTypeBindingPort" binding="tns:TravelGoodWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGoodWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodWSDLPortTypeRole" portType="tns:TravelGoodWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
