Project/ProjectTest/src/META-INF/wsdl/joshua_8080/LameDuck/AirlineReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dtu.dk/" name="AirlineReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dtu.dk/" schemaLocation="http://joshua:8080/LameDuck/AirlineReservationService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://joshua:8080/LameDuck/AirlineReservationService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://joshua:8080/LameDuck/AirlineReservationService?xsd=3"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<message name="createAirline">
<part name="parameters" element="tns:createAirline"/>
</message>
<message name="createAirlineResponse">
<part name="parameters" element="tns:createAirlineResponse"/>
</message>
<message name="setFightData">
<part name="parameters" element="tns:setFightData"/>
</message>
<message name="setFightDataResponse">
<part name="parameters" element="tns:setFightDataResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<portType name="AirlineReservation">
<operation name="getFlights">
<input wsam:Action="http://ws.dtu.dk/AirlineReservation/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://ws.dtu.dk/AirlineReservation/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://ws.dtu.dk/AirlineReservation/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://ws.dtu.dk/AirlineReservation/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://ws.dtu.dk/AirlineReservation/bookFlight/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://ws.dtu.dk/AirlineReservation/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://ws.dtu.dk/AirlineReservation/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://ws.dtu.dk/AirlineReservation/cancelFlight/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="createAirline">
<input wsam:Action="http://ws.dtu.dk/AirlineReservation/createAirlineRequest" message="tns:createAirline"/>
<output wsam:Action="http://ws.dtu.dk/AirlineReservation/createAirlineResponse" message="tns:createAirlineResponse"/>
</operation>
<operation name="setFightData">
<input wsam:Action="http://ws.dtu.dk/AirlineReservation/setFightDataRequest" message="tns:setFightData"/>
<output wsam:Action="http://ws.dtu.dk/AirlineReservation/setFightDataResponse" message="tns:setFightDataResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://ws.dtu.dk/AirlineReservation/setFightData/Fault/FileNotFoundException"/>
</operation>
</portType>
<binding name="AirlineReservationPortBinding" type="tns:AirlineReservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="createAirline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setFightData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineReservationService">
<port name="AirlineReservationPort" binding="tns:AirlineReservationPortBinding">
<soap:address location="http://joshua:8080/LameDuck/AirlineReservationService"/>
</port>
</service>
</definitions>